*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }
  body a:link, body a:visited {
    text-decoration: none;
    color: unset; }

.btn {
  background-color: #ffffe6;
  color: #000000;
  padding: 3px .5rem;
  font-size: 2rem;
  border-radius: 10px;
  transition: all .2s; }
  .btn:hover {
    font-weight: bold;
    transform: scale(1.1); }

.header {
  height: 10vh;
  background-image: linear-gradient(to right, #434343, #000 25%, #000 75%, #434343);
  text-align: center; }
  .header .header__logo {
    height: 100%;
    padding: 1.5vh; }

.main-container {
  height: calc(100vh - 10vh);
  background-image: linear-gradient(to bottom, transparent, transparent 80%, #000 90%), url("../img/sfondo1.jpg");
  background-size: cover; }
  .main-container__title {
    display: inline-block;
    width: 48%;
    font-family: 'Amatic SC', cursive;
    font-size: 14rem;
    color: #ffffe6;
    text-transform: uppercase;
    text-emphasis: bold;
    font-weight: 700;
    text-shadow: 3px 5px #000;
    line-height: 1;
    padding-left: 5%;
    padding-top: 10%; }
  .main-container__subtitle {
    display: block;
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    color: #ffffe6;
    text-emphasis: bold;
    font-weight: 700;
    text-shadow: 2px 3px #000;
    padding-left: 4%;
    padding-top: 5%; }
  .main-container__address {
    display: block;
    color: #ffffe6;
    padding-left: 4%;
    padding-top: 13%;
    font-size: 2rem; }
    .main-container__address:hover {
      text-decoration: underline; }
  .main-container__links {
    display: inline-block;
    width: 50%;
    height: 50%;
    margin-bottom: 12%; }
    .main-container__links img {
      float: right;
      margin-left: 70%;
      margin-right: 5%;
      margin-bottom: 1rem;
      display: block;
      width: 30%;
      transition: all .2s; }
      .main-container__links img:hover {
        transform: scale(1.1); }
      .main-container__links img:first-child {
        width: 25%;
        border-radius: 7px;
        transform: translateX(-6px); }
        .main-container__links img:first-child:hover {
          transform: scale(1.1) translateX(-6px); }
    .main-container__links__btn {
      float: right;
      margin-left: 25%;
      margin-right: 5%;
      margin-bottom: 1rem;
      display: block; }
